/* Reset some basic elements */
html, body, #root {
  margin: 0;
  padding: 0;
  font-family: "Golos Text", sans-serif;
  font-weight: 550;

}

form {
  border-radius: 10px;
}

.mb-4 span {
  display: block; /* Make "To Me" appear on a new line */
}

#full-page {
  background-image: url("images/background.svg"); /* Replace 'your-image-url.jpg' with the URL of your image */
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Do not repeat the background image */

}

/* Full page container */


/* Style the header */
header {
  margin-bottom: 2rem;
  text-align: center; /* Center the title */
}

/* The form input styling */
input[type='text'] {
  border-radius: 0.70rem;
  padding: 10px;
}

/* The submit button styling */
button[type='submit'] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #F75B20;
  border: none;
  border-radius: 0.60rem;
  cursor: pointer;
  margin: 0.5rem 0; /* Spacing around button */
  width: 100%; /* Full width of the container */
}

button[type='submit']:hover {
  background-color: #FFA148;
}

.form-container {
  background-color: #e3e3e3;
  border-radius: 10px;  
  padding: 20px;          
}

/* Style the container of the charging stations list */
.station-list {
  width: 100%; /* Full width of the container */
  max-width: 800px; /* Maximum width of the list */
  margin-top: 1rem; /* Spacing from the form */
}

.station-list h4 {
  margin: 0;
  font-size: 1.25rem; /* Larger font size for titles */
}

.station-list p {
  margin: 0.25rem 0; /* Smaller spacing for paragraphs */
  color: #555;
}

/* Make the charging station entries look like cards */
.station-list > div {
  background-color: white; /* White background for cards */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Simple shadow for depth */
  margin-bottom: 1rem; /* Spacing between cards */
  padding: 1rem; /* Padding inside cards */
  border-radius: 0.25rem; /* Rounded corners for cards */
}

/* Utility classes for spacing */
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem;
        padding-left: 30px;
        margin-top: 90px;
}

@media (min-width: 768px) {
  /* Larger side padding on larger screens */
  .container {
    padding: 1rem 4rem;
  }

  /* Input fields side by side on larger screens */
  input[type='text'] {
    width: auto; /* Auto width for flex growth */
    flex-grow: 1; /* Allow inputs to grow equally */
    margin: 0.5rem; /* Uniform margin */
  }

  /* Adjust button width on larger screens */
  button[type='submit'] {
    width: auto; /* Auto width for flex growth */
    padding: 0.5rem 2rem; /* Larger button padding */
  }
}

.map {
  width: 50%;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  height: 450px; /* Adjust as needed */
  text-align: center;
  border-radius: 10px;
}

.userLocationInputSection {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  
}

